<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace : 이 xml 과 연결할 Mapper 인터페이스 전체 경로 -->
<mapper namespace="com.example.soloproject.mapper.MemberMapper"> 

	<!-- [회원가입] -->
	<insert id="insertMember" parameterType="com.example.soloproject.dto.MemberDTO">
		INSERT INTO MEMBER(MEMBER_LOGINID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PWD, MEMBER_PHONE)
		VALUES(#{memberLoginId}, #{memberName}, #{memberEmail}, #{memberPwd}, #{memberPhone})
	</insert>

	<!-- [아이디 중복 확인] -->
	<select id="countByLoginId" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_LOGINID = #{loginId}
	</select>

	<!-- [로그인] -->
	<select id="selectByLoginIdAndPwd" resultType="com.example.soloproject.dto.MemberDTO">
		SELECT MEMBER_ID,
			   MEMBER_LOGINID,
			   MEMBER_NAME,
			   MEMBER_EMAIL,
			   MEMBER_PHONE,
			   MEMBER_RATING
		FROM MEMBER
		WHERE MEMBER_LOGINID = #{loginId} AND MEMBER_PWD = #{pwd}
	</select>
	
	<!-- [마이페이지 사용자 게시글 조회] -->
	<select id="selectByBoardList" resultType="com.example.soloproject.dto.BoardDTO">
		SELECT b.BOARD_ID, 
			   b.BOARD_CATEGORY, 
			   b.BOARD_TITLE, 
			   b.BOARD_HIT,
			   b.BOARD_DATE, 
			   b.MEMBER_ID, 
			   m.MEMBER_LOGINID
		FROM MEMBER m JOIN BOARD b ON m.MEMBER_ID = b.MEMBER_ID
		WHERE b.MEMBER_ID = #{memberId}
		ORDER BY b.BOARD_ID DESC LIMIT #{size} OFFSET #{offset}
	</select>
	
	<!-- [사용자 게시글 전체 수 조회] -->
	<select id="selectByCount" resultType="int"> 
		SELECT COUNT(*) 
		FROM BOARD b JOIN MEMBER m ON b.MEMBER_ID = m.MEMBER_ID 
		WHERE b.MEMBER_ID = #{memberId}
	</select>
	

</mapper>